<h1>Deno#Hello</h1>
<p>Hello world!! from hello</p>
<%= 1+1 %>
<% target = "world" %>
<%= "hello #{target}" %><br>
<% 3.times do %>
	aaa<%= "xxx" %><br>
<% end %>
instance varialbe<br>
<% @array.each do |n| %>
	<%= n %><br>
<% end %>
<%= link_to("my first link",{:action=>'index'})%><br>
ID: <%= params[:id]%><br>
page: <%= params[:page]%><br>
name: <%= params[:name]%><br>
<hr>
id: <%= @id %><br>
page actual: <%= @page%><br>
Next page: <%= @page+1 %><br>

<%= params.inspect%>